/node_modules
/public/hot
/public/storage
/storage/profile/*
!/storage/profile/profile-picture.jpg
/storage/arquivo/*
/storage/circular/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
