.ant-btn-primary,
.ant-btn-primary {
    background: white;
    border-color: $customAccent;
    color: $customAccent;

    &:hover,
    &:focus {
        color: white;
        background: $contrastAccent;
        border-color: $contrastAccent;
    }
}

.ant-input-search-enter-button input:hover,
.ant-input-search-enter-button input:focus {
    border-color: $customAccent;
}

.ant-input:focus,
.ant-input-focused {
    border-color: $customAccent;
    -webkit-box-shadow: 0 0 0 2px rgba($customAccent, 0.2);
    box-shadow: 0 0 0 2px rgba($customAccent, 0.2);
}

.ant-input-affix-wrapper:hover {
    border-color: $customAccent;
    border-right-width: 1px !important;
}

.ant-spin {
    color: $customAccent;

    .ant-spin-dot-item {
        background-color: $customAccent;
    }
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    padding: 26px 16px;
    padding-right: 40px;
}


