.circular-page-container {
    margin: 80px auto !important;

    .posts-container {
        width: 100%;
        padding: 0 3%;

        .post-container {
            margin: 3% auto;
            cursor: pointer;

            &:hover {
                .info {
                    .title {
                        color: $customAccent;
                    }
                }
            }

            .image {
                width: 100%;
            }

            .info {
                width: 90%;

                .date {
                    margin: 0 auto;
                    font-weight: 0.9em;
                    color: $customLightText;
                }

                .title {
                    color: $customHeader;
                    font-weight: bold;
                    font-weight: 2em;
                    margin: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    transition: 0.4s ease;
                }
            }
        }
    }

    .filter-title {
        color: $customHeader;
        font-weight: bold;
        border-bottom: 1px solid #f0e9ff;
    }

    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
        box-shadow: none !important;
    }

    .filter-search {
        margin-bottom: 30px;
        padding: 15px;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 6px;

        &:hover {
            border: 1px solid gray;
        }

        .ant-input-search-icon::before {
            border: none;
        }
    }

    .filter-container {
        margin: 20px auto;
        padding: 0px;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;

        .filter {
            transition: all 0.3s ease 0s;
            padding-bottom: 12px;
            list-style: none;
            cursor: pointer;
            text-transform: capitalize;

            &:hover {
                color: $customAccent;
            }
        }
    }
}

.circular-modal-container {
    width: 60% !important;
    max-width: $md;

    @include md {
        width: 90% !important;
    }

    @include sm {
        width: 95% !important;
    }

    .ant-modal-body {
        padding: 0 !important;
    }
}
