.single-circular-page-container {
    .single-circular-container {
        width: 100%;
        .pdf-document-container {
            margin: auto;
            width: 100% !important;
            height: auto !important;
        }
    }
}
