.single-circular-page-container {
    .single-circular-container {
        .pdf-document-container {
            margin: 50px auto;
            width: 100% !important;
            height: auto !important;

            .pdf-document {
                position: relative;
                border-radius: 12px;
                box-shadow: 0 0 40px 0 rgba($color: #4e4e4e, $alpha: 0.2);

                @media screen and (max-width: $md) {
                    box-shadow: none;
                }

                .pdf-control {
                    position: absolute;
                    bottom: 15px;
                    z-index: 2;
                }
                .page-info {
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                .download-button {
                    right: 15px;
                    top: 15px;
                }

                .left-button {
                    left: 15px;
                }

                .right-button {
                    right: 15px;
                }

                canvas {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
    }
}
