.single-circular-page-container {
    .single-circular-container {
        .pdf-document-container {
            margin: 50px auto;
            width: 100% !important;
            height: auto !important;
        }
    }
}
