.homepage-header {
    width: 100%;
    height: 750px;

    @include lg {
        height: 600px;
    }

    @include md {
        height: 500px;
    }

    .header {
        max-width: 1140px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;

        .title {
            width: 70%;
            line-height: 1.1;
            font-weight: 500;
            font-size: 4em;

            @include lg {
                font-size: 3em;
            }

            @include md {
                font-size: 2em;
            }
        }
    }
}

.administrator-container {
    width: 100%;
    line-height: 1.1;
    font-weight: 500;
    font-size: 1em;
    padding: 30px 15px;
    margin: auto;

    @include md {
        display: none;
    }

    .administrator {
        display: flex;
        flex-direction: column;
        text-align: center;

        .name {
            color: $customHeader;
            font-size: 2.2em;

            @include md {
                font-size: 1.4em;
            }
        }

        .contact {
            color: $customLightText;

            @include md {
                font-size: 0.8em;
            }
        }
    }
}

.homepage-content-container {
    max-width: 1140px;
    width: 90%;
    margin: auto;

    .about-container {
        margin: 10% auto;

        .about-image {
            width: 100%;
        }

        .about-content {
            font-size: 1.1em;
            .subtitle {
                font-size: 1.5em;
                color: $customAccent;
                margin-bottom: 22px;
            }
            .title {
                font-size: 3em;
                margin-bottom: 80px;
                color: $customHeader;
                font-weight: 600;
                margin-bottom: 17px;
                line-height: 1.3;
                @include lg {
                    font-size: 2.5em;
                }

                @include md {
                    font-size: 2em;
                }
            }

            .info-container {
                flex-flow: nowrap;
                margin: 20px auto;
                font-size: 1em;

                .text {
                    padding-left: 20px;
                }

                .icon {
                    font-size: 42px;
                }
            }
        }
    }

    .section-content {
        width: 90%;
        margin: auto;

        .circular-container {
            .circular-image-container {
                .image {
                    transition: 0.4s ease;
                    width: 100%;
                }
            }

            .circular-info {
                z-index: 2;
                margin: 20px auto;
                width: 100%;
                border-radius: 5px;

                .date,
                .title {
                    margin: 0;
                }

                .title {
                    color: $customHeader;
                    font-size: 1.8em;

                    &:hover {
                        color: $customAccent;
                    }
                }

                .date {
                    color: gray;
                    font-size: 1em;
                }

                .tag {
                    text-transform: capitalize;
                    color: $customAccent;
                }
            }
        }
    }
}

.section-title-container {
    text-align: center;
    line-height: 1.5;

    .section-subtitle {
        font-size: 2.5em;
        margin-bottom: 80px;
        font-weight: bold;
        line-height: 1.5;
        color: $customHeader;
    }

    .section-title {
        font-size: 2em;
        color: $customAccent;
    }
}

.watch-more {
    width: 200px;
    height: 70px;
    margin: 3% auto;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 19px 47px;
    -moz-user-select: none;
    cursor: pointer;
    transition: 0.25s linear;
    background: transparent;

    .watch-more-link {
        font-size: 1.2em;
        font-weight: bold;
    }
}

.faq-homepage-container {
    width: 100%;
    background: $customOffWhiteSection;
    padding: 8% 0;
    margin: 10% auto;

    .question {
        color: black;
        font-size: 1.5em;
    }

    .answer {
        width: 90%;
    }
}
