.pdf-document {
    position: relative;
    width: 100%;

    @media screen and (max-width: $md) {
        box-shadow: none;
    }

    .pdf-control {
        position: absolute;
        bottom: 15px;
        z-index: 2;
    }
    
    .page-info {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .download-button {
        right: 15px;
        top: 15px;
    }

    .left-button {
        left: 15px;
    }

    .right-button {
        right: 15px;
    }

    canvas {
        width: 100% !important;
        height: auto !important;
    }
}
