.servicos-page-container {
    .content-container {
        margin: 5% auto 10% auto;
        padding: 0px 2%;
        width: 100%;

        .servico-section {
            width: 90%;
            margin: 2% auto;

            @include lg {
                width: 98%;
            }

            @include md {
                margin: 5% auto;
            }
            .title {
                font-size: 2em;
                margin-bottom: 0;
                font-weight: bold;

                @include md {
                    text-align: center;
                }
            }

            .title-border {
                margin-bottom: 10px;
                width: 90px;
                height: 4px;
                background: $customAccent;

                @include md {
                    display: block;
                    margin: auto;
                    margin-bottom: 20px;
                }
            }

            .image {
                width: 90%;
                margin: auto;
                display: block;

                @include md {
                    width: 80%;
                    min-width: 300px;
                }
            }

            &:nth-child(even) {
                margin-left: auto;
                margin-right: 0;
            }

            .list {
                counter-reset: number;
                width: 100%;

                @include inv-md {
                    .item {
                        display: -webkit-box;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        -webkit-box-pack: start;
                        justify-content: flex-start;
                        -webkit-transition: 0.25s;
                        transition: 0.25s;
                        counter-increment: number;

                        h3 {
                            font-size: 1em;
                            position: relative;
                            left: -1.5rem;
                            color: $customHeader;
                            -webkit-transition: 0.25s;
                            transition: 0.3s ease-in-out;
                        }

                        &:hover {
                            background-color: #fafafa;
                            cursor: pointer;

                            &:before {
                                opacity: 1;
                            }

                            h3 {
                                left: -0.5rem;
                            }

                            &:nth-child(n + 10) {
                                h3 {
                                    left: 0.5rem;
                                }
                            }
                        }
                    }

                    .item:before {
                        content: counter(number) " ";
                        font-size: 2rem;
                        font-weight: bold;
                        color: $customAccent;
                        width: 2rem;
                        opacity: 0.1;
                        -webkit-transition: 0.25s;
                        transition: 0.25s;
                    }
                }
            }
        }
    }
}
