// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

@import "home";
@import "login";
@import "firstLogin";
@import "navBar";
@import "footer";

.body {
    font-family: "Lora", serif;
}

.layout {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;

    .layout-header .layout-footer {
        height: 70px;
    }

    .layout-content {
        flex: 1;
    }
}
