// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

@import "antd";
@import "home";
@import "login";
@import "firstLogin";
@import "navBar";
@import "footer";
@import "circulares";
@import "table";

.body {
    font-family: "Lora", serif;
}

.page-container {
    max-width: 1140px;
    margin: auto;
}

.layout {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;

    .page-dimensions {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .layout-header {
        height: 70px;
    }

    .layout-content {
        flex: 1;
    }

    .dashboard-background {
        background: rgb(245, 245, 245);
        min-height: 100%;
    }
}
