// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
@import "functions";

@import "antd";
@import "home";
@import "login";
@import "firstLogin";
@import "navBar";
@import "footer";
@import "circulares";
@import "circular";
@import "table";
@import "helper";
@import "faq";
@import "dashboard";
@import "orcamentos";
@import "pdf";
@import "profile";
@import "servicos";

.body {
    font-family: "Lora", serif;
}

.page-container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
}

.layout {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;

    .page-dimensions {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .layout-header {
        height: 70px;
    }

    .layout-content {
        flex: 1;
    }

    .dashboard-background {
        background: rgb(245, 245, 245);
        background-image: url("/dashboard-background.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
    }
}
